frontend/node_modules
frondend/build
frontend/.next
frontend/.vercel
frontend/.env
backend/node_modules
backend/.env
terraform-k8s/.terraform
terraform-k8s/.terraform.lock.hcl
terraform-swarm/.terraform
terraform-swarm/.terraform.lock.hcl
